@import "../../Utils/colors";

.card {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 600px;
  min-width: 300px;
  height: 210px;
  margin: 1rem 1.5rem;
  transition: all 0.3s ease-out;
  background-color: $gray-darkest;
  box-shadow: 0 0 10px rgb(0, 0, 0);

  a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    height: 100%;

    .img-container {
      width: 150px;
      height: 100%;
      margin-right: 2rem;
      .image {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border-radius: 4px;
      }
    }

    .movie-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      color: $gray-light;
      font-size: 0.85rem;
      width: 80%;
      padding-right: 0.25rem;
      .title {
        margin-top: 0.5rem;
        font-size: 1rem;
      }
      .plot {
        margin-top: 0;
      }
    }
  }
  .remove-button,
  .remove-button-mobile {
    position: absolute;
    top: 0;
    right: 0;
    width: 12%;
    min-width: 12%;
    background-color: $danger;
    color: $gray-darkest;
    font-weight: bold;
    padding: 0.25rem 0.15rem;
    outline: none;
    border: none;
    font-family: inherit;
    transition: all 0.3s ease-out;
  }
  .remove-button-mobile {
    display: none;
  }

  .remove-button:hover {
    background-color: #f34343;
    cursor: pointer;
  }
  .remove-button-mobile {
    display: none;
  }
  .slide-enter {
    opacity: 0;
    transform: scale(0.6);
  }
  .slide-enter-active {
    opacity: 0.5;
    transform: scale(1);
    transition: all 300ms;
  }
  .slide-exit {
    opacity: 0.5;
    transform: scale(1);
  }
  .slide-exit-active {
    opacity: 0;
    transform: scale(0.6);
    transition: all 300ms;
  }
  .error {
    margin: 0;
    position: absolute;
    top: -1.5rem;
    height: 1rem;
    width: 100%;
    text-align: center;
    background-color: $danger;
    padding: 0.25rem 0;
    border-radius: 3px;
    font-size: 0.8rem;
  }
}

.card:hover {
  transform: scale(1.04);
}

@media (max-width: 40rem) {
  .card {
    width: 100%;
    margin: 1rem 0;
    height: 280px;

    a .img-container {
      height: 100%;
      width: 250px;
      margin-right: 1rem;
    }
    a .movie-info {
      font-size: 0.75rem;
    }
  }
}
@media (max-width: 1024px) {
  .card {
    margin-bottom: 3rem;

    .remove-button-mobile {
      display: block;
      width: 100%;
      top: 100%;
      font-size: 1.2rem;
      height: 2rem;
      right: 0;
    }
    .remove-button {
      display: none;
    }
  }
}
