@import "../../Utils//colors";

.register-page {
  margin: 0 auto;
  width: 20%;
  display: flex;
  flex-direction: column;

  .registerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    .formcontrol {
      width: 100%;
      padding: 1%;
      border: none;
      display: flex;
      flex-flow: column;
      min-width: 15rem;

      .input {
        display: block;
        margin: 0.5rem 0;
        // width: 100%;
        padding: 4px;
      }
      input:focus {
        border: 3px solid $color-primary;
        outline: none;
        background-color: $gray-light;
      }
      .input-error,
      .input-error:focus {
        border: 3px solid $danger;
      }

      .error {
        margin: 0;
        width: auto;
        text-align: left;
        background-color: $danger;
        padding: 4px;
        border-radius: 3px;
        font-size: 0.8rem;
      }
    }
  }

  .title {
    margin-bottom: 3rem;
    margin-top: 4rem;
    text-align: center;
  }
  .http-error {
    color: red;
  }
}

@media (max-width: 40rem) {
  .register-page {
    width: 100%;
  }
}
