
.registerForm {
    width: 30%;
    color: #ffffff;
    margin-left: 42%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    
}

.formcontrol {
    width: 100%;
    margin: 0 auto;
    padding: 1%;
    border: none;
    display: flex;
    flex-flow: column;

}

.input {
    display: block;
    margin: 0.5rem 0;
    width: 50%;
    padding: 4px;
    border: 2px solid #a2da3c
}

.label {
    width: auto;
    display: block;
    width: 50%;
    text-align: left;
}

.error {
    margin: 0;
    width: 220px;
    text-align: left;
    background-color: #c21423;
    padding: 4px;
    border-radius: 3px;
    font-size: 12px;
}

.button {
    border: none;
    font: inherit;
    text-align: center;
    font-size: 1rem;
    padding: 8px;
    border-radius: 10%;
    background: #385502;
    width: 25%;
    height: 2rem;
    cursor: pointer;
    color: white;
}

.title {
    margin-bottom: 3rem;
    margin-top: 4rem;
    color: #ffffff;
    text-align: center;
    
}