@import "../../../utils/colors";

.card {
  display: block;
  position: relative;
  width: 200px;
  min-width: 200px;
  height: 320px;
  margin: 2rem 1.5rem;
  transition: all 0.3s ease-out;

  .error,
  .success,
  .loading {
    margin: 0;
    position: absolute;
    top: -3.5rem;
    height: 1rem;
    width: 100%;
    text-align: center;
    background-color: $danger;
    padding: 0.25rem 0;
    border-radius: 3px;
    font-size: 0.8rem;
  }
  .success {
    background-color: green;
  }
  .loading {
    background-color: yellow;
    color: $gray-darkest;
  }

  .watchlist-icon,
  .seenlist-icon,
  .watchlist-icon-checked,
  .seenlist-icon-checked {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2rem;
    background-color: $gray-darkest;
    opacity: 0.7;
    width: 50%;
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    transition: all 0.3s ease-out;
  }
  .watchlist-icon {
    left: 0;
  }

  .seenlist-icon {
    background: url("../../../assets//eye2.png") center/contain no-repeat;
    background-color: $gray-darkest;
    right: 0;
  }
  .seenlist-icon-checked {
    background: url("../../../assets//eye-check.png") center/contain no-repeat;
    background-color: $gray-darkest;
    color: $gray-light !important;
    right: 0;
  }
  .watchlist-icon:hover,
  .seenlist-icon:hover {
    opacity: 1;
    background-color: black;
    cursor: pointer;
  }
  .watchlist-icon-checked {
    left: 0;
    cursor: default;
  }

  .actions-mobile {
    display: none;

    button {
      width: 100%;
      height: 2.5rem;
      padding: 0.2rem 0.5rem;
      opacity: 0.9;
      font: inherit;
      font-size: 1rem;
      background-color: $gray-darkest;
      outline: none;
      border: none;
      color: $gray-light;
    }
    .mobile-watchlist--btn {
      background-color: #413a3a;
    }
  }

  a {
    text-decoration: none;
    display: block;
    height: 100%;

    .image {
      width: 100%;
      height: 85%;
      padding: 0;
      margin: 0;
      border-radius: 4px;
      box-shadow: 0 0 10px rgb(0, 0, 0);
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray-light;
      text-align: center;
    }
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }
  .slide-enter {
    opacity: 0;
  }
  .slide-enter-active {
    opacity: 0.7;
    transition: opacity 300ms;
  }
  .slide-exit {
    opacity: 0.7;
  }
  .slide-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
}

.card:hover {
  transform: scale(1.04);
}

@media (max-width: 1024px) {
  .card {
    margin-bottom: 7rem;
    .actions-mobile {
      box-shadow: 0 0 10px rgb(0, 0, 0);
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .actions {
      display: none;
    }
    .success {
      top: -1.5rem;
    }
  }
}
