@import "../../../utils/colors";

.card {
  display: block;
  position: relative;
  max-width: 12.5rem;
  min-width: 12.5rem;
  transition: all 0.3s ease-out;

  &:hover {
    transform: scale(1.03);
  }

  a {
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    height: 100%;

    .image {
      width: 100%;
      height: 18rem;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .title {
      color: $gray-light;
      text-align: center;
    }
  }
}

// icons on desktop

.watchlist-icon,
.seenlist-icon,
.watchlist-icon-checked,
.seenlist-icon-checked {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -2rem;
  background-color: $gray-darkest;
  opacity: 0.7;
  width: 50%;
  height: 2rem;
  font-size: 1.5rem;
  text-align: center;
  transition: all 0.3s ease-out;
}

.watchlist-icon {
  left: 0;
}

.seenlist-icon {
  background: url("../../../assets//eye2.png") center/contain no-repeat;
  background-color: $gray-darkest;
  right: 0;
}

.seenlist-icon-checked {
  background: url("../../../assets//eye-check.png") center/contain no-repeat;
  background-color: $gray-darkest;
  color: $gray-light !important;
  right: 0;
}

.watchlist-icon:hover,
.seenlist-icon:hover {
  opacity: 1;
  background-color: black;
  cursor: pointer;
}

.watchlist-icon-checked {
  left: 0;
  cursor: default;
}

//mobile buttons

.actions-mobile {
  display: none;

  button {
    width: 100%;
    height: 2.5rem;
    padding: 0.2rem 0.5rem;
    font: inherit;
    font-size: 0.8rem;
    outline: none;
    border: none;
    background-color: $gray-darkest;
    opacity: 0.7;
    color: $gray-light;
    text-transform: uppercase;
  }

  .btn-checked {
    // background-color: $gray-darker;
    background-color: #413a3a;
    color: rgba($gray-light, 0.6);
    font-size: 0.7rem;
    span {
      margin-right: 0.5rem;
      font-size: 0.9rem;
    }
  }
}

//notifications

.error,
.success,
.loading {
  position: absolute;
  top: -3.75rem;
  height: 1.75rem;
  width: 100%;
  background-color: $danger;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success {
  background-color: green;
}

.loading {
  background-color: yellow;
  color: $gray-darkest;
}

//animations with css transition

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.slide-enter {
  opacity: 0;
}

.slide-enter-active {
  opacity: 0.7;
  transition: opacity 300ms;
}

.slide-exit {
  opacity: 0.7;
}

.slide-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

@media (hover: none), (max-width: 56.25em) {
  .card {
    margin-bottom: 1.5rem;
    a {
      .image {
        box-shadow: none;
      }
    }

    .actions-mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .actions {
      display: none;
    }

    .success,
    .loading,
    .error {
      top: -1.75rem;
    }
  }
}
