@import "../../Utils/colors";

.card {
  display: block;
  position: relative;
  width: 200px;
  min-width: 200px;
  height: 320px;
  margin: 2rem 1.5rem;
  transition: all 0.3s ease-out;

  .watchlist-icon,
  .seenlist-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2rem;
    background-color: $gray-darkest;
    width: 50%;
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    transition: all 0.3s ease-out;
  }
  .watchlist-icon {
    left: 0;
  }
  .seenlist-icon {
    background: url("../../Assets//eye-icon.png") center/contain no-repeat;
    background-color: $gray-darkest;
    right: 0;
  }
  .watchlist-icon:hover,
  .seenlist-icon:hover {
    opacity: 1;
    background-color: black;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    display: block;
    height: 100%;

    .image {
      width: 100%;
      height: 85%;
      padding: 0;
      margin: 0;
      border-radius: 4px;
      box-shadow: 0 0 10px rgb(0, 0, 0);
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray-light;
      text-align: center;
    }
  }
  .slide-enter {
    opacity: 0;
  }
  .slide-enter-active {
    opacity: 0.5;
    transition: opacity 300ms;
  }
  .slide-exit {
    opacity: 0.5;
  }
  .slide-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
}

.card:hover {
  transform: scale(1.04);
}

@media (max-width: 40rem) {
}
