@import "../../Utils//_colors.scss";

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem;
  margin-left: 6rem;
  color: $gray-light;
}
.title {
  text-align: center;
  color: $gray-light;
  margin-top: 3rem;
}
