@import "../../utils/_colors.scss";

.home-page {
  margin: 2rem 6rem;

  // .list {
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: center;
  //   flex-wrap: wrap;
  //   color: $gray-light;
  // }

  .title {
    text-align: center;
    color: $gray-light;
    margin-top: 3rem;
  }
}

@media (max-width: 40rem) {
  .home-page {
    // .list {
    //   justify-content: center;
    // }
  }
}
