@import "../../utils/_colors.scss";

.home-page {
  // margin: 2rem 6rem;

  .img {
    height: 500px;
    width: 100%;
    background: url("../../assets//background.png") center/cover no-repeat;
    filter: grayscale(50%);
    padding-top: 3rem;
  }
}

@media (max-width: 40rem) {
  .home-page {
    .img {
      background: none;
    }
    // padding: 0 0.5rem;
  }
}
