@import "../../../utils//colors";

.card {
  width: 350px;
  height: 100px;
  background-color: $gray-darkest;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem;
  transition: all 0.3s ease-out;
  img {
    width: 22%;
    height: 100%;
  }
  .info {
    font-size: 0.8rem;
    margin-left: 1rem;
  }
}

.card:hover {
  transform: scale(1.1);
}
