.watchlist-page {
  display: flex;
  width: 100%;
  margin: 1rem auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
  }
}

@media (max-width: 40rem) {
    .watchlist-page {
      h1 {
        font-size: 1.5rem;
      }
    }
  }