@import "../../Utils/_colors.scss";

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gray-darkest;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  z-index: 100;

  .toggle-button {
    display: none;
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;

    .toggle-button__bar {
      width: 100%;
      height: 0.2rem;
      background: $gray-light;
      display: block;
      margin: 0.6rem 0;
    }
  }
  .toggle-button:focus {
    outline: none;
  }

  .logo-container {
    margin-left: 2rem;
    height: 100%;
    width: 12rem;
    min-width: 6rem;
    background: url("../../Assets//logo.png") center/cover no-repeat;
  }

  .link {
    margin: 1rem;
    color: $gray-light;
    text-decoration: none;
  }

  .link:hover {
    color: $color-primary;
  }

  .active {
    color: $color-primary;
  }
}

@media (max-width: 47rem) {
  .header {
    justify-content: inline-block;
    .logo-container {
      margin: 0 auto;
    }
    .toggle-button {
      display: block;
    }
    .nav__links {
      display: none;
    }
  }
}
