@import "../../../utils//colors";

.title {
  color: $gray-light;
  opacity: 0.8;
  text-align: center;
  margin-top: 4rem;
}

.features {
  margin: 2rem auto 3rem auto;
  list-style: none;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;

  .feature {
    background: rgba($gray-darkest, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    min-width: 280px;
    max-width: 400px;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    font-size: 1.1rem;
    color: $gray-darker;

    p {
      width: 90%;
    }

    ion-icon {
      font-size: 3rem;
    }
  }
}
