@import "../../utils/_colors.scss";

.explore-page {
  margin: 2rem 6rem;

  .title {
    text-align: center;
    color: $gray-light;
    margin-top: 3rem;
  }
}

@media (max-width: 1024px) {
  .explore-page {
    margin: 2rem 1.5rem;
  }
}