@import "./utils//colors";

body {
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica, sans-sarif;
  background: radial-gradient(
    circle,
    rgba(22, 66, 17, 1) 13%,
    rgba(0, 0, 0, 0.8802871490393032) 100%
  );
  line-height: 1.4;
  color: $gray-light;
  #root {
    position: relative;
    min-height: 100vh;
    main {
      padding: 6rem 0 4rem 0;
      margin: 0 0.5rem;
    }
  }
}

@media (max-width: 52rem) {
  body {
    margin: 0;
    padding: 0;
  }
}
