@import "../../../utils/colors";
.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 12.5rem);
  grid-auto-rows: 1fr;
  justify-items: center;
  justify-content: center;
  gap: 2rem 3.5rem;
  color: $gray-light;
  width: 85%;
  margin: 3rem auto 0 auto;
}

.seenlist {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 22rem));
  gap: 2rem;
  width: 100%;
}

.watchlist {
  grid-template-columns: repeat(auto-fit, minmax(19rem, 37rem));
  width: 95%;
}

.error {
  color: red;
  text-align: center;
  font-size: 1.2rem;
}

.notification {
  text-align: center;
  font-size: 1.2rem;
}

.slide-exit {
  transform: scale(0) !important;
}

.slide-exit-active {
  transform: scale(0) !important;
  transition: all 200ms ease-out;
}
