@import "../../utils/colors";

.details {
  width: 100%;
  max-width: 1200px;
  display: flex;
  color: $gray-light;
  font-size: 1.05rem;
  justify-content: center;
  gap: 3rem;
  align-items: flex-start;
  margin: 3rem auto;
  padding: 0 1rem;

  .leftside {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 18rem;
  }

  .rightside {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    h1 {
      text-align: left;
      margin-top: 0;
      margin-bottom: 1rem;
    }

    .ratings {
      width: 100%;
      display: flex;
      height: 3rem;
      align-items: center;
      justify-content: flex-start;

      .rating {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 0 2rem;
      }

      .imdb-container {
        margin-left: 0;
        .imdb {
          display: flex;
          align-items: center;
        }

        .img {
          width: 80px;
          height: 30px;
          margin-right: 8px;
        }
      }
    }
    .buttons {
      margin-top: 4rem;
      display: flex;
      justify-content: center;
      gap: 2rem;
      width: 100%;

      button {
        width: 50%;
        min-width: 20rem;
        padding: 1rem 2rem;
      }
    }
  }
}
.error {
  color: red;
  text-align: center;
  margin: 2rem 0;
}

@media (max-width: 63em) {
  .details {
    .rightside {
      .buttons {
        flex-direction: column;
        gap: 0.5rem;
        button {
          width: 90%;
          min-width: none;
        }
      }
    }
  }
}

@media (max-width: 45em) {
  .details {
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
    .leftside {
      width: 19rem;
    }
    .rightside {
      gap: 1rem;
      .buttons {
        button {
          width: 100%;
          padding: 1rem 1rem;
        }
      }
    }
  }
}
