@import "../../utils/colors";

.details {
  width: 100%;
  display: flex;
  color: $gray-light;
  font-size: 1.05rem;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;

  .leftside {
    margin: 6rem 0;
    margin-right: 2rem;
  }
  .rightside {
    width: 55%;
    margin: 6rem 0;
    max-width: 1000px;
    h1 {
      text-align: left;
      margin-top: 0;
      margin-bottom: 2rem;
    }
    .ratings {
      width: 100%;
      display: flex;
      height: 3rem;
      align-items: center;
      justify-content: flex-start;

      .rating {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 0 2rem;
        // margin-left: 5rem;
      }
      .imdb-container {
        margin-left: 0;
        .imdb {
          display: flex;
          align-items: center;
        }

        .img {
          width: 80px;
          height: 30px;
          margin-right: 8px;
        }
      }
    }
    .buttons {
      // width: 80%;
      height: 4.5rem;
      margin-top: 4rem;
      display: flex;
      justify-content: space-between;
      width: 100%;

      button {
        width: 48%;
      }
    }
  }
}

@media (max-width: 40rem) {
  .details {
    display: block;
    font-size: 0.9rem;
    margin: 0 auto;

    .leftside,
    .rightside {
      width: 100%;

      .buttons button {
        font-size: 0.9rem;
      }
    }
    .leftside {
      margin: 2rem auto 0rem auto;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      p {
        margin: 0.4rem;
      }
    }
    .rightside {
      margin-top: 2rem;
      .ratings {
        justify-content: space-between;
        .rating {
          margin: 0;
        }
      }
    }
  }
}
