@import "../../utils//colors";

.badge {
  display: inline-block;
  background-color: yellow;
  color: $gray-darkest;
  padding: 0.3rem 0.6rem;
  border-radius: 45%;
  text-align: center;
  margin-left: 0.3rem;
}
