@import "../../utils/colors";

.button {
  border: none;
  font: inherit;
  color: $gray-darkest;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem 0.2rem;
  border-radius: 8px;
  background: $gray-light;
  min-width: 6rem;
  width: 50%;
  height: auto;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: all 0.2s ease-out;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: $gray-darkest;
  color: $gray-light;
}

.button--danger {
  background: $danger;
  border-color: #830000;
  color: $gray-darkest;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
  color: $gray-darkest;
}
.button--yellow {
  background: yellow;
  border-color: none;
}
.button--yellow:hover,
.button--yellow:active {
  background: $gray-light;
  color: $gray-darkest;
  // border-color: #f34343;
}
.button--dark {
  background: $gray-darkest;
  color: $gray-light;
  border-color: none;
}
.button--dark:hover,
.button--dark:active {
  background: $gray-light;
  color: $gray-darkest;
  // border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}
@media (max-width: 40rem) {
  .button {
    width: 100%;
  }
}
