@import "../../utils//colors";

.search-container {
  width: 60%;
  margin: 1.5rem auto;
  input {
    font-size: 1.2rem;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 2px;

    &:focus {
      outline: none;
      background-color: $gray-darker;
    }
  }
}

@media (max-width: 1024px) {
  .search-container {
    width: 70%;
  }
}
@media (max-width: 40rem) {
  .search-container {
    width: 85%;
    input {
      font-size: 1rem;
    }
  }
}
